<!DOCTYPE html>
<html lang="en" ng-app="bigmap">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>BigMap</title>
	<meta name="description" content="It's like Risk but less weird and not as fun">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div><h1>BigMap</h1></div>

	<div data-ng-controller="FrameCtrl">
		<div><p><button data-ng-click="newGame()">New game</button></p></div>

		<div><h2>{{ player }} turn</h2></div>
		<div id="messages">{{message.text}}</div>
		<div id="unitList">
			<ul>
				<li ng-repeat="unit in units"><strong>{{unit._id}}</strong>: {{unit.location}}, exp of {{unit.experience}}</li>
			</ul>
		<div id="regionList">
			<h3>Your regions:</h3>
			<ul>
				<li ng-repeat="region in regions | filter: playerRegions"><strong>{{region.full_name}}</strong>: Strength of {{region.strength}}
			</ul>

			<h3>Enemy regions:</h3>
			<ul>
				<li ng-repeat="region in regions | filter: enemyRegions"><strong>{{region.full_name}}</strong>: Strength of {{region.strength}}
			</ul>
		</div>
	</div>
	<div ng-view></div>

	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="app.js"></script>
	<script src="controllers.js"></script>
	<script src="services.js"></script>
</body>
</html>
